body{
    background-color:#eee;
    overflow-x:hidden;
}
.wrapper{
    margin:80px;
}
.personal{
    background-color: blueviolet;

}
.user{
    margin: 20px;
    border-radius: solid black 3px;
    height: 20vh;

}
.header{
    width: 100%;
    margin: 0;
}
.container-fluid{
   padding: 0; 
}
.btn-success{
    border-radius: 100px;
    padding: 20px 25px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.fas{
    font-size: 3.5em;
}
.form-signin{
    max-width:380px;
    margin:0 auto;
    background-color: #fff;
    padding: 15px 40px 50px;
    border:1px solid #e5e5e5;
    border-radius:10px;
}
.personal{
    background-color: blueviolet;

}
.form-signin .form-signin-heading, .form-signin .checkbox{
  margin-bottom: 30px;  
}
.form-signin input[type="text"], .form-signin input[type="password"]
{
    margin-bottom: 20px;
}
.form-signin .form-control{
    padding: 10px;
}

.card-header{
    width: 100%;
}
.section-card{
    margin-top: 50px;
    border-radius: 10px;
}
.section-cards:nth-child(1){
    margin-top: 50px;
}
